body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #494e52;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    font-size: 22px;
}

h3 {
    border-bottom: 1px solid #d3d3d3;
    padding-top: 20px;
    font-size: 18px;
}

h4 {
    border-bottom: 1px solid #d3d3d3;
    font-size: 16px;
    margin-bottom: 5px;
}

.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: #3d2424;
    text-align: center;
    padding: 32px 32px;
    text-decoration: none;
    font-size: 32px;
}
  
.topnav-right a:hover {
    background-color: #ddd;
    color: white;
}

.topnav-right a.active {
    background-color: #2196F3;
    font-weight: bold;
}

.topnav-right {
    float: right;
}

.sidenav {
    margin-top: 200px;
    width: 140px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.5;
}

.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.header {
    margin-top: 140px;
    width: 75%;
    margin-left: 175px;
}

.header p {
    font-size: 14px;
}

.main {
    width: 75%;
    margin-left: 175px;
    line-height: 1.5;
}

.button {
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #2196F3;
    border-radius: 4px;
}
